@{
    ViewData["Title"] = "Select customer";
}

@model SelectedCustomer

<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Ups... soryy :-)</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        There is no such as customer @Model.CustomerNumber for bank @Model.Bank in database.
    </p>

</section>


